apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-kubia
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: kubia
  template:
    metadata:
      labels:
        app: kubia
    spec:
      containers:
      - name: kubia
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: {{ .Values.service.targetPort }}