apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubia-deployment
spec:
  selector:
    matchLabels:
      app: kubia
  replicas: 3
  template:
    metadata:
      labels:
        app: kubia
    spec:
      containers:
      - name: kubia
        image: mikhailvzhzhv/kubia:v2
        ports:
        - containerPort: 8080
